<p id="notice"><%= notice %></p>

<p>
  <strong>Providerid:</strong>
  <%= @provider.providerid %>
</p>

<p>
  <strong>Practice:</strong>
  <%= @provider.practice %>
</p>

<p>
  <strong>Npi:</strong>
  <%= @provider.NPI %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
