<p id="notice"><%= notice %></p>

<p>
  <strong>Personid:</strong>
  <%= @dapper.personid %>
</p>

<p>
  <strong>Datatype:</strong>
  <%= @dapper.datatype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dapper.description %>
</p>

<p>
  <strong>Nvalue1:</strong>
  <%= @dapper.nvalue1 %>
</p>

<p>
  <strong>Nvalue2:</strong>
  <%= @dapper.nvalue2 %>
</p>

<p>
  <strong>Cvalue1:</strong>
  <%= @dapper.cvalue1 %>
</p>

<p>
  <strong>Cvalue2:</strong>
  <%= @dapper.cvalue2 %>
</p>

<p>
  <strong>Dvalue1:</strong>
  <%= @dapper.dvalue1 %>
</p>

<p>
  <strong>Dvalue2:</strong>
  <%= @dapper.dvalue2 %>
</p>

<p>
  <strong>Image:</strong>
  <%= @dapper.image %>
</p>

<p>
  <strong>Soundfile:</strong>
  <%= @dapper.soundfile %>
</p>

<p>
  <strong>Note:</strong>
  <%= @dapper.note %>
</p>

<p>
  <strong>Providerid:</strong>
  <%= @dapper.providerid %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @dapper.timestamp %>
</p>

<%= link_to 'Edit', edit_dapper_path(@dapper) %> |
<%= link_to 'Back', dappers_path %>
